body{
    background-color: lightsteelblue;
}

#cabecalho{
    background-attachment: fixed;
    background-color: royalblue;
    background-size: cover;
    height: 200px;
}

#rodape{
    height: 100px;
}