body {
  background-color: beige;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  text-align: center;
}

#rodape {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100px;
  z-index: 1;
  background-color: burlywood;
  text-align: center;
}

.img-content {
  position: relative;
  top: 60px;
  width: 400px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

article p {
  position: relative;
  top: 40px;
  margin: auto;
  padding-left: 20%;
  padding-right: 20%;
}

ul , ol {
  position: relative;
  top: 30px;
}

.lado-direito {
  float: right;
  max-width: 40%;
}

.lado-esquerdo {
  float: left;
}

a {
  position: relative;
  top: 40px;
}

article {
  background-color: bisque;
  z-index: 3;
  align-items: center;
  display: contents;
  border-style: dashed;
}

#referencias {
  position: relative;
  border-style: dashed;
}

section {
  position: relative;
  max-width: 70%;
  height: 150px;
  text-align: center;
}

#motivos {
  text-align: center;
  width: 50%;
}