@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: silver;
}

p {
  line-height: 32px;
  margin: 20px 0;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

#cabecalho {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: blueviolet;
}

#cabecalho ul {
  list-style: none;
}

.info-list a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.popcorn a {
  text-decoration: none;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.lado-esquerdo {
  float: left;
}

.lado-direito {
  float: right;
}

.info-movies {
  margin: 0 auto;
}

.info-movies td {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}


#rodape a {
  text-decoration: none;
  color: white;
}

#cabecalho ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 60px;
  margin-right: 20px;
}

#rodape {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: blueviolet;
  color: white;
}

#rodape p {
  line-height: 70px;
  margin: 0 auto;
}



.top {
  padding-top: 80px;
}

.title {
  font-size: 25px;
  padding-bottom: 20px;
  text-align: center;
}

.series-list {
  display: flex;
  list-style: none;
}

.series-list li {
  flex: 1;
  width: 100%;
  padding: 5px;
  background-color: white;
  margin-right: 20px;
  border-radius: 5px;
}

.series-list li:last-child {
  margin-right: 0;
}

.series-list img {
  width: 100%;
  height: 400px;
  border-radius: 5px;
}

.series-list span {
  text-align: center;
  display: block;
  font-size: 1.1em;
  padding: 5px 0;
}

.section-area {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.info-list {
  width: 500px;
  padding: 20px 0;
  margin-right: 10px;
  float: right;
}


.article-title {
  padding: 20px 0;
}

.article-img {
  width: 100%;
  border-radius: 5px;
}
.popcorn {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
