body {
    background-color: rgb(239, 225, 225);
}

#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
}

#top-page {
    margin-top: 35px;
}

#rodape {
    position: fixed;
}

.dog-image {
    border-radius: 10%;
    border: ridge red 5px;
}