body {
  font-size: 20px;
  font-family: arial, sans-serif;
  background-color: rgb(244 , 244 , 244);
  color: rgb(10 , 9 , 9);
  margin: 0%;
}

#main-title {
  font-size: 80px;
  position: absolute;
  z-index: 2;
  left: 150px;
  top: 560px;
  font-family: Roboto, sans-serif;
  background-color: rgb(244 , 244 , 244);
  padding: 10px;
  color: rgb(10 , 9 , 9);
}

#main-title1 {
  font-size: 100px;
  position: absolute;
  z-index: 2;
  left: 150px;
  top: 670px;
  font-family: Roboto, sans-serif;
  background-color: rgb(244 , 244 , 244);
  padding: 10px;
  color: rgb(10 , 9 , 9);
}

#cabecalho {
  width: 100%;
  position: fixed;
  z-index: 10;
  padding-top: 20px;
  height: 65px;
  background-color: rgb(10 , 9 , 9);
  color: white;
}

#headpicture {
  position: absolute;
  left: 400px;
  top: 30px;
}

#studiopicture {
  text-align: center;
}

.margem-nav {
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}

.nav {
  text-align: center;
  color: white;
  margin-top: -10px;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-style: bold;
  color: rgb(99 , 0 , 0);
  margin-left: 150px;
}

.bloco1 {
  width: 100%;
  height: 1600px;
}

.bloco2 {
  width: 100%;
  height: 950px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: rgb(99 , 0 , 0);
}

a:hover {
  color: white;
  background-color: rgb(99 , 0 , 0);
}

#abbey-picture {
  position: relative;
  left: 100px;
}

#abbey-title {
  margin-left: 30px;
}

#rodape {
  width: 100%;
  z-index: 5;
  height: 65px;
  background-color: rgb(10 , 9 , 9);
  color: white;
  display: inline-block;
  text-align: center;
}

.abbey-relative {
  background-color: rgb(244 , 244 , 244);
}

.box-esquerdo {
  margin-left: 10px;
  height: 450px;
  float: left;
  position: relative;
  z-index: 4;
}

.box-direito {
  width: 620px;
  height: 1000px;
  padding: 50px 50px 80px;
  margin-right: 170px;
  margin-top: 80px;
  float: right;
  line-height: 1.6em;
}

.caixa {
  z-index: 2;
  border: 1px solid rgb(99 , 0 , 0);
  width: 1000px;
  height: 1280px;
  position: relative;
  top: 250px;
  left: 700px;
}

.eqtos {
  margin-top: 110px;
  border: 1px solid rgb(99 , 0 , 0);
  background-color: rgb(187 , 187 , 187);
  margin-left: 240px;
  padding: 20px;
  float: left;
  color: rgb(99 , 0 , 0);
}

.abbey-destaque {
  color: rgb(99 , 0 , 0);
  text-decoration: none;
  font-weight: 700;
}

.lado-esquerdo {
  width: 40%;
  margin-top: 10px;
  margin-left: 50px;
  padding-right: 80px;
  align-content: center;
}

.lado-direito {
  width: 40%;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 80px;
  padding-left: 80px;
  align-content: center;
}

.alinhamento {
  padding: 20px 50px 80px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.lado-lado {
  display: inline-block;
}

.microfones td {
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  padding: 5px;
  text-align: center;
}