* {
    box-sizing: border-box;
}

body{
    background-color: black;
}

.header #cabecalho{
    position: fixed;
    background-color: rgba(60 , 47 , 47 , .35);
    width: 100%;
    height: 100px;
    padding: 20px 15px;
}

#menu th { 
    display: inline;
    padding: 15px 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
 }

.menu {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    font-size: 2em;
    padding: 5px 5px;
}

code, kbd, samp {
    padding: 0 6px;
    font: italic 1em italic;
    background: #777;
    color: white;
    margin: 0 4px;
    border-radius: 4px;
}

.conteudo{
    width: 100%;
    background-color: lightgray;
    margin-bottom: 150px;
}

.conteudo-biografia{
    padding: 10px 10px;
    text-align: center;
    align-items: center;
    margin: auto;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: midnightblue;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: midnightblue;
    text-align: left;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: center;
    padding: 20px 20px;
    background-color: honeydew;
}

h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    color:whitesmoke;
}

.table{
    border: 2px solid white;
    width: 30%;
    background-color: green;
    color: white;
    margin-left: 20px;
}

.link-tabela{
    text-decoration: none;
    text-decoration: none;
    margin-bottom: 30px;
}

footer #rodape{
    width: 100%;
    height: 100px;
    position: fixed;
}



.imagem-lista{
    width: 100%;
    height: 500px;
    color: white;
}

.lado-direito{
    width: 50%;
    float: right;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.img{
    border-radius: 120px;
    padding: 15px 15px;
}

.lado-esquerdo{
    width: 50%;
    float: left;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.lista-texto{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a:link{
text-decoration:none;
}

a:hover{
	color: blue;
	}