header, nav, h1, h2, footer, ul, li, ol, section, article, p, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(117, 236, 226);
    margin: 20px;
}

header {
    height: 50px;
    width: 100%;
    margin: 20px;
} 

#cabecalho {
    width: 100%;
    height: 100px;
    position: fixed;
    margin: 20px;
}

nav, ul, li, a {
    display: inline;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(31, 214, 144);
}

a:hover {
    background:rgb(99, 231, 220);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.container {
    display: inline-block;
    width: 100%;
    padding-top: 200px;
    margin: 20px;
}

aside #ladoesquerdo {
    float: left;
    margin: 20px;
}

aside #ladodireito {
    float: right;
    margin: 20px;
}

#projetos {
    width: 100%;
    margin: 20px;
}

#rodape {
    display: relative;
    color: rgb(0, 0, 0);
    height: 25px;
    padding: 10px;
    margin: 20px;
}




