#container {
    width: 455px;
    margin: 2px 
    padding: 22px
    border: 15px, ridge red;
    background-color: rgb(25, 35, 45)
    }
header {
    font: bold, 1,5em, sans-serif;
}
h .palavra-yoga {
    font-weight: bold;
#introducao {
    margin: auto;
    padding: 1px;
    border: 1px
}
}
#barra {
    background-color: rgb(241, 50, 50);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
  }
body {
    background-color: rgb(142, 178, 223);
}
h1 {
    color: rgb(22, 11, 168);
    font: bold, 15px, cursive;
}
h2 {
    color: black
    font: normal, 1,4em, sans-serif
}
p {
    color: rgb(0, 47, 255);
    font-family: arial, sans-serif;
}
ul li strong {
    line-height: 1,5em;
}
#surya-namaskar {
border: 15px, ridge red;
}
#jung {
    background-color: rgb(152, 151, 160);
    font-family: fantasy;
    line-height: 1,5em;
    width: 21%;
    text-align: center;
    position: relative;
}
article {
    font-weight: bold
}
#tab-tipos-yoga {
    text-align: center;
}
a:hover, a:active, a:focus {
    background-color: rosybrown;
}