body{
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#cabecalho{
    position: fixed;
    width: 1056px;
    height:701;
}

.name{
    color: rgb(36, 36, 36);
}

.conteudo{
padding: 80px;
margin: auto;
background:white;
text-align: center;
}

.menu {
    color: rgb(41, 41, 41);
    padding: 5px;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;


}

.lado-esquerdo{
   
 width: 500px;
 padding: 5px;
 float:left;
 margin: 7px;
}

.lado-direito{

    width: 500px;
    float: right;
    padding: 5px;
    margin: 7px;
    
}
.border{
    border: 2px solid black;
    padding: 2px;
    margin: 4px;
    line-height: normal;
}
#rodape{
    width: 900px;
    height: 73px;
    text-align: center;
}

.roda{
    text-align: center;
}