
body {
    background-color: rgb(142, 178, 223);
}
h1 {    
    color: rgb(22, 11, 168);
    font: bold, 15px, cursive;
}
h2 {
    color: black
    font: normal, 1,4em, sans-serif
}
p {
    color: rgb(0, 47, 255);
    font-family: arial, sans-serif;
}

#jung {
    background-color: rgb(152, 151, 160);
    font-family: fantasy;
    line-height: 1,5em;
    width: 21%;
    text-align: center;
}
article {
    font-weight: bold
}
table.tr.td {
    text-align: center;
}



header:

aside:

margin:

padding: